.cart.dark ,
.cart.dark .close-btn{
  color: #bcbcbc;
  background-color: #1b1b1b;
}
.cart.dark .cart-card{
  background-color: #0e0e0e;
}
.cart.dark .cart-card .cart-item-img{
  border-radius: 25px;
}

  .minimum-message{
    font-size: .8rem;
  }
  .remove-message{
    display: none;
  }

  @media screen and (max-width:450px){
    .cart{
      width: 100vw;
      min-width: unset;
    }
    .cart-img{
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }
  }
  @keyframes slide-from-left {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
    
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
    